*{
    color: rgb(1, 18, 24);
     background: rgb(2, 149, 147); 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
:root{
    --primary:rgb(94, 205, 242);
    --secondar: rgb(80, 187, 132);
    /* --tertiary:rgb(41, 41, 42); */
    
}

h1 {

    margin: 3px;
    display: block;
    position: relative;
    background-color: var(--secondar);
    text-align: center;
    margin: auto;
    color: rgb(17, 2, 61);
    border: 5px solid rgb(4, 245, 140);   
  
}


#cityInput, #cityName, #inputContainer,button{
margin: 3px;
padding:5px;
text-align:left;
font-size:20px;
font-weight:bold;
}


#weatherContainer{
    display: flex;
    position: absolute;
    top: 60%;
    left: 60%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 60%;
    width: 60%;    
    border: 5px solid rgb(6, 232, 134);    
    border-radius: 10px;
    background-color: rgb(1, 44, 53);
    padding: 30px;
}

.product-card{
    /* display:flex; */
    /* display:flexbox; */
   
    display:inline-block ;
    align-content: center;
    height: 90%;
    width: 30%;
    margin: 8px;
    border: 5px solid rgb(42, 2, 72);
    border-radius: 10px;
    background-color: var(--primary);
}

img{
    height: 30%;
    width: 40%;
    background-color: var(--primary);
  
}

.card-title{
    margin: 7px;
    background-color: var(--primary);
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
}

