*{
    color: rgb(7, 1, 1);
     background: rgb(206, 177, 240); 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {

    margin: 3px;
    display: block;
    position: relative;
    background-color: aquamarine;
    text-align: center;
    margin: auto;
  
}
/* #Para1{
    display: flex;
    text-align: center;
    margin-left: 590px;

} */

#cityInput, #cityName, #inputContainer{
margin: 3px;
padding:5px;
text-align:center;
font-size:20px;
font-weight:bold;
}
button{
    display: block;
    margin: auto;
    padding:5px;
    background-color: aquamarine;
}

/* #weatherContainer{
    display: flex;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 1300px;
    border: 5px solid rgba(34, 2, 66, 0.829);    
    border-radius: 10px;
} */

#iconsContainer{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 40%;
    width: 90%;    
    border: 5px solid rgb(31, 82, 60);    
    border-radius: 10px;
    background-color: black;
}

.icons{
    /* display:flex; */
    display:flexbox;
    float: left;
    height: 80%;
    width: 30%;
    margin: 10px;
    border: 5px solid rgb(249, 249, 5);
    border-radius: 10px;
    background-color: rgb(206, 155, 250);
}

.image{
    height: 60%;
    width: 50%;
  
}

.imgClass{
    height: 90%;
    width: 100%;
}

.weather{
    margin: 5px;
    background-color: rgb(106, 215, 255);
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
}

.minValues{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}


.maxValues{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}